.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 408px;
  margin: 50px auto;
  padding: 24px;
  gap: 8px;
  position: relative;
}
.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-label:last-of-type {
  margin-bottom: 16px;
}
.form-input {
  height: 40px;
}
.form-input,
.form-textarea,
.form-input:active,
.form-textarea:active
 {

  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-textarea {
  resize: none;
  overflow-y: auto;
}
.form-input:hover,
.form-textarea:hover,
.form-input:focus,
.form-textarea:focus{
  border: 1px solid #000;
}
.form-button {
  border-radius: 8px;
  border: transparent;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: flex-start;
}
.form-button:hover,
.form-button:focus{
  background-color: #6c8cff;
}
.error-message{
  color:red;
  position: absolute;
  left: 30px;
  top: 83%;
  transform: translateY(-110%);
  white-space: nowrap;
}